.cartMessage__empty {
    // display: flex;
    // justify-content: center;
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
    .overlay__cart {
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 450px;
        height: 450px;
        border-radius: 50%;;
        background: var(--color-accent);
    }

    img.image__class {
        position: absolute;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    .btn__main__anch {
        display: inline-block;
        width: 100%;;
        text-align: center;
        margin-top: 3rem;
    }


}


.products__wrapper tr.table__header, tr.table__elements {
    display: grid;
    grid-template-columns:  15% 25% 15% 15% 15% 15%;  
    // border-bottom: 1px solid var(--text-secondary);

}


tr {
    td.image__row {
        img {
            width: 160px;
            height: 120px;
            padding: 10px 0;
        }
    }
}

.cart__table {
    table {
        width: 100%;
        border-collapse: separate;
        border:1px solid var(--text-light);
        border-spacing: 0;

        th, td {
            // border: 1px solid var(--text-light);
            box-sizing: border-box;
        }
    }
}

tr  th {
    // border:1px solid var(--text-light);

    &:not(:last-child) {
        border-right: 1px solid var(--text-light);
    }
    // border-top: 1px solid var(--text-light);
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 500;;
    background: var(--color-accent);
    
    &:first-child {
        // border-left: 1px solid var(--text-light);
    }
}

.cart__table,  {
    tr td {
       // border-left: 1px solid var(--text-secondary);
   
       &:not(:last-child) {
           border-right: 1px solid var(--text-secondary);
       }
       // border-left: 1px solid var(--text-secondary);
       // border-bottom: 1px solid var(--text-secondary);
       text-align: center;
   
       &:first-child {
           // border-left: 1px solid var(--text-secondary);
       }
   }

   tr:not(:first-child)  {
    border-top: 1px solid var(--text-secondary)
   }

}
    

 .cart__table {

  tr {
    td {
        // height: 150px;;
        display: flex;
        align-items: center;
        justify-content: center;
        // text-align: center;

        &.delete {
            button {
                color: rgb(140, 10, 10);
                background: none;
                border: none;
                cursor: pointer;
            }
        }
        &.addtoCart {
            button {
                color: var(--text-primary);
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        &.item__details {
            display: flex;
            flex-direction: column;;

            .box__color {
                
                    display: inline-flex;
                    align-items: center;
                    gap: 5px;
                    margin-top: 1rem;
                
                span {
                    display: block;
                    width: 30px;
                    height: 15px;;
                    // margin-top: 1rem;
                }
            }
            
        }

        .adder, .reducer {
            background: white;
            border: 1px solid var(--text-primary);
            box-shadow: none;
            outline: none;
            padding: 5px;
            min-width: 35px;
            font-size: 20px;
            cursor: pointer;

             &:hover {
                background: var(--color-accent);
             }
            
        }

        .adder {
            margin-right: 10px;
        }
        .reducer {
            margin-left: 10px;
        }
    }


    }
}

tr.table__elements {
    // border-bottom: 1px solid var(--text-secondary);
}

.back__button {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.cart__total {
    display: flex;
    margin-top: 2rem;
    justify-content: end;
    gap: 30px;

    table {
        tbody {
            tr {
                display: flex;
                border-top: 1px solid var(--text-secondary);

                &:last-child {
                    border-bottom: 1px solid var(--text-secondary);
                }
                td {
                    width: 150px;
                    padding: 5px;
                    text-align: center;
                    border-left: 1px solid var(--text-secondary);
                    
                    &:last-child { 
                        border-right: 1px solid var(--text-secondary);
                    }

                    &:first-child {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.form__layout {
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    background: var(--color-accent);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .form__grp {
        width: calc(50% - 30px);
        display: flex;
        flex-direction: column;
        // margin-bottom: 1rem;

        label {
            font-size: 1.2rem;
            margin-bottom: 0.3rem;;
        }

        input {
            padding: 10px 10px;
            border-radius: 5px;;
            border: 1px solid var(--text-light);
            font-size: 1.2rem;;
            color: var(--text-primary);
            font-weight: 300;

            &:focus {
                border: 1px solid var(--color-primary);
            }
        }
    }
}
